/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#title {
    color: #333;
}

#profile-pic {
    border-radius: 50%;
}

.description {
    font-size: 18px;
    color: #555;
}

#nav {
    list-style-type: none;
    padding: 0;
}

#nav li {
    display: inline;
    margin: 10px;
}

#nav a {
    text-decoration: none;
    color: blue;
}